.app {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}

.seaweed {
  background: chartreuse;
}

.fish {
  background: blueviolet;
}

.predatory {
  background: darkred;
}